<img src="/images/technicflux-logo-white.png" width="108px" height="108px" />
<h1>{{title}}</h1>
<p>Welcome to {{title}}!</p>
<p>The dashboard isn't ready yet. We are currently working on the API and backend stuff.</p>
