<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
<!--    <link rel="stylesheet" href="./stylesheets/bootstrap-light.min.css" >-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/styles.css'/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="pageContent">
    {{{body}}}
</div>

<div id="layoutError_footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    Copyright &copy; Zandercraft 2023. Distributed under the
                    <a href="https://github.com/Zandercraft/TechnicFlux/blob/release/LICENSE.txt">MIT License</a>.
                    <em>We are not affiliated with Mojang, AB or Syndicate LLC.</em>
                </div>
                <div>
                    <a href="https://github.com/Zandercraft/TechnicFlux">TechnicFlux on Github</a>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="js/common-script.js"></script>
</body>
</html>
