<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
<footer>
    <em>We are not affiliated with Mojang, AB or Syndicate LLC.</em>
</footer>
</html>
