body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pageContent {
  position: relative;
  min-height: 100vh;
}

.grecaptcha-badge {
  margin-bottom: 65px;
}
